
<div [routerLink]="['/post/'+i]" *ngFor="let element of data; let i = index" class="row mb-2">
  <div class="container">
    <div class="col-10">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h4 class="mb-0">{{element['data']['title']}}</h4>
          <div class="mb-1 text-muted"><a href="#">By {{element['data']['author']}}</a> </div>

          <p class="card-text mb-auto">{{element['data']['selftext'].slice(0,200)}}...</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img *ngIf="element['data']['thumbnail'] != 'self'" src="{{element['data']['thumbnail']}}" class="bd-placeholder-img" width="450rems"  preserveAspectRatio="xMidYMid slice" alt="imagen">
        </div>
      </div>
    </div>
  </div>
</div>
